<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel="stylesheet" type="text/css" />
    
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About us</title>
</head>
<body>
  <div class="navbar bg-base-100 bg-primary">
    <div class="navbar-start">
      <a href="Landing.html" class="d-navbar-brand">
          <img src="https://cdn.discordapp.com/attachments/1018200397971734638/1156136575969800233/panda.png?ex=6513df97&is=65128e17&hm=76f986893a2dc0eb087b97d216aded244e44b0567db4be01377ce87b3145ad76&" alt="Your Logo" class="h-10">
      </a>
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><a href="/about">За нас</a></li>
          <li><a href="/contact">Контакти</a></li>
          <li><a href="/careers">Кaриери</a></li>
      
        </ul>
      </div>
      <a class="btn btn-ghost normal-case text-xl text-white"  href="/">Pandis</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a class="text-xl text-white" href="/about">За нас</a></li>
        <li><a class="text-xl text-white" href="/contact"><h2>Контакт</h2></a></li>
        <li><a class="text-xl text-white" href="/careers"><h2>Кариери</h2></a></li>
      </ul>
    </div>
    <div class="navbar-end">
      
    </div>
  </div>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row">
              <div>
                <div class="badge badge-primary">дейност</div>
                <h1 class="text-5xl font-bold  text-xl text-white">С какво ще се занимаваме?</h1>
                <p class="py-6  text-xl text-white">Ние ще сме сме първата компания на българския IT пазар която освен че ще предлага платени услуги свързани с разработката на Уеб-приложения, уеб дизайн и разработване на игри така и
                   безплатни онлайн уроци, курсове и материали свързани с дигитални компетентности от този тип.
                </p>
                
              </div>
            </div>
          </div>
          <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row">
              <div class="flex items-center justify-center lg:justify-start">
                <div>
                  <div class="badge badge-primary">Екип</div>
                  <h1 class="text-5xl font-bold text-xl text-white">За нашият екип</h1>
          
                  <p class="py-6 text-xl text-white">
                    Работим с пълноценни и опитни хора с които можем да реализираме всяка една идея на която попадаме.
                    В момента сме в процес на легализация и административна организация като поради това не можем да ви предоставим пълна информация относно услугите си.
                  </p>
                </div>
              </div>
              <div class="lg:ml-auto">
                <img src="https://cdn.discordapp.com/attachments/1018200397971734638/1156136576355663882/pandaDev.png?ex=6513df97&is=65128e17&hm=0f02a1edca4417796305efeb42e996d92b9c41b52e778785b91e86aa34f4962b&" class="max-w-sm rounded-lg shadow-2xl" />
              </div>
            </div>
          </div>
          
          <footer class="footer footer-center p-4 bg-base-300 text-base-content">
            <aside>
              <p>Pandis 2023</p>
              <p>Всички права запазени</p>
            </aside>
          </footer>



        
</body>
</html>