<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.7/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <style>
        
    </style>
    
<div class="navbar bg-base-100 bg-primary">
  <div class="navbar-start">
    <a href="Landing.html" class="d-navbar-brand">
        <img src="https://cdn.discordapp.com/attachments/1018200397971734638/1156136575969800233/panda.png?ex=6513df97&is=65128e17&hm=76f986893a2dc0eb087b97d216aded244e44b0567db4be01377ce87b3145ad76&" alt="Your Logo" class="h-10">
    </a>
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/about">За нас</a></li>
        <li><a href="/contact">Контакти</a></li>
        <li><a href="/careers">Кaриери</a></li>
    
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl text-white" href=Landing.html>Pandis</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a class="text-xl text-white" href="/about">За нас</a></li>
      <li><a class="text-xl text-white" href="/contact"><h2>Контакт</h2></a></li>
      <li><a class="text-xl text-white" href="/careers"><h2>Кариери</h2></a></li>
    </ul>
  </div>
  <div class="navbar-end">
    
  </div>
</div>
<div class="hero min-h-screen" style="background-image: url(anbg.mp4);">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="https://cdn.discordapp.com/attachments/1018200397971734638/1156136575969800233/panda.png?ex=6513df97&is=65128e17&hm=76f986893a2dc0eb087b97d216aded244e44b0567db4be01377ce87b3145ad76&" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Нов подход към уеб програмирането</h1>
        <p class="py-6">Ние сме компания с изцяло нов подход към уеб-приложенията изградени с комерсиална цел.</p>
        <button class="btn btn-primary" ><a href="aboutUs.html" >научете повече</a></button>
      </div>
    </div>
  </div>

<footer class="footer footer-center p-4 bg-base-300 text-base-content">
    <aside>
      <p>Pandis 2023</p>
      <p>Всички права запазени</p>
    </aside>
  </footer>
    
</body>
</html>